.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__image {
  width: 40px;
  height: 40px;
  margin-bottom: 22px;
}

.services__title {
  margin: 0;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1.44px;
  margin-bottom: 9px;
}

.services__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.44px;
  margin-bottom: 61px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1060px;
  column-gap: 40px;
  row-gap: 40px;
  margin-bottom: 161px;
}

.services__grid-item {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 34px 49px 30px 34px;
  border: 1px solid #161513;
}

.services__title {
  font-size: 31px;
  line-height: 40px;
  letter-spacing: 0.64px;
}

.services__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
