.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1060px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 136px;
}

.articles__image {
  width: 40px;
  height: 40px;
  margin-bottom: 22px;
}

.articles__title {
  margin: 0;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1.44px;
  margin-bottom: 9px;
}

.articles__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.44px;
  margin-bottom: 61px;
}

.articles__items {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 24px 0;
  margin-bottom: 95px;
  width: 100%;
}

.articles__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  border: 1px solid #161513;
  padding: 14px 53px;
}

.articles__item-wrapper {
  display: flex;
  flex-direction: column;
}
.articles__item-title {
  color: #e94d35;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1.28px;
}

.articles__item-subtitle {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.48px;
}
.articles__item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.articles__button {
  border: 1px solid #161513;
  background: #161513;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  width: 100%;
  padding: 12px 0;
}
.articles__button:hover {
  cursor: pointer;
  opacity: 0.7;
}
