.promo {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.promo__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.promo__description {
  display: flex;
  flex-direction: column;
  margin-top: 141px;
}

.promo__title-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.promo__title {
  margin: 0;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.56px;
  font-weight: 400;
}

.promo__items {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  gap: 16px;
  margin-bottom: 40px;
}

.promo__button-black {
  border: 1px solid #161513;
  background: #161513;
  color: #fff;
  line-height: 24px;
  padding: 13px 33px;
}
.promo__button-black:hover {
  cursor: pointer;
  opacity: 0.7;
}
.promo__button-white {
  border: 1px solid #161513;
  background: transparent;
  color: #161513;
  line-height: 24px;
  padding: 13px 33px;
}
.promo__button-white:hover {
  cursor: pointer;
  opacity: 0.7;
}

.promo__image {
  width: 562px;
  height: 563px;
  margin-top: 40px;
}

@media screen and (max-width: 1212px) {
  .promo__image {
    width: 500px;
    height: 500px;
  }
  .promo__title {
    font-size: 45px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1037px) {
  .promo__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 882px) {
  .promo__image {
    width: 400px;
    height: 400px;
  }
  .promo__title {
    font-size: 25px;
  }
}
@media screen and (max-width: 750px) {
  .promo__image {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 696px) {
  .promo__image {
    width: 250px;
    height: 250px;
  }
}
