.ribbon {
  position: relative;
  margin-top: 120px;
}

.ribbon__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 64px;
  justify-content: space-between;
  transform: scale(105%) rotate(-5deg);
  position: absolute;
  left: 0;
  right: 0;
  background-color: #161513;
  max-width: 100%;
}

.ribbon__wrapper-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.ribbon__text {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}

@media screen and (max-width: 1284px) {
  .ribbon__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 1152px) {
  .ribbon__text {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .ribbon__text {
    font-size: 8px;
  }
}
